<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Page 1</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<center> 
		  <h1> My App </h1>
	<iframe width="392" height="620" style="border: 0px;" src="https://studio.code.org/projects/applab/U8gX7Xy7WTKrlUfWzd841gvVm_1voKvy2G3jv5t-YTk/embed?nosource"></iframe>
		</center>
</body>
</html>
